.unveiled {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(12, 5, 109);
}

.unveiled:after {
    content: "";
    width: 200%;
    height: 200%;
    bottom: 0px;
    left: 0px;
    position: absolute;
    opacity: 0.25;
    background-image: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}