.home {
    padding: 128px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .signup-steps {
        padding-top: 64px;
        display: flex;

        .step {
            width: 300px;
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            margin: 0 16px;

            svg {
                margin-bottom: 16px;

                path {
                    fill: rgb(50, 49, 48);
                }
            }

            label {
                font-size: 18px;
            }
        }
    }

    .recent-nfts {
        font-size: +4;
        padding-top: 96px;
        padding-bottom: 16px;
    }

    .opensea-nfts {
        display: flex;
        flex-wrap: wrap;
        max-width: 996px;
        width: 100%;
        justify-content: center;
    }

    @media (max-width: 1000px) {
        .signup-steps,
        .opensea-nfts {
            flex-direction: column;
            align-items: center;
        }
    }
}