* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

html,
body,
#root {
  width: 100%;
  background-color: #101010;
  color: #fafafa;
}

#root {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

a,
button {
  outline: none;
  border: none;
}

a::-moz-focus-inner {
  border: 0;
}